html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    padding: 10px 30px !important;
}

footer {
    position: relative !important;
}

.container-fluid {
    background: #002966;
    width: 100%;
}

.darkBlue-bg {
    background: #002966 !important;
}

.login-page-container {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/home.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home-container {
    width: 100%;
    height: 80vh;
    background: url(/img/home.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(70%);
}

.action-icon {
    margin-right: 10px;
}

.white-text {
    color: #fff;
}

.font-size-12 {
    font-size: 12px;
}

.btn-info {
    font-weight: bold !important;
    color: #FFFFFF !important;
}

.nav-pills .nav-link {
    color: #002966 !important;
}

    .nav-pills .nav-link.active {
        background: #002966 !important;
        color: #ffffff !important;
    }

.btn-darkBlue, .btn-darkBlue:hover {
    color: #ffffff;
    background: #002966 !important;
}

.font-weight-bold {
    font-weight: bold;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px !important;
}

.fee-book-table th,
.fee-book-table td {
    text-align: center !important;
    vertical-align: middle !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.margin-right-20 {
    margin-right: 20px;
}