@{
    ViewData["Title"] = "Контакти";
}

<div class="container mt-5">
    <h1 class="display-4 mb-4 font-weight-bold">Контакти</h1>

    <div class="row">
        <div class="col-md-4 mb-4">
            <h5><strong>Адрес:</strong></h5>
            <p>
                Дом за стари хора „Зона Б-5“<br />
                ж.к. Зона Б-5<br />
                ул. "Партений Нишавски", блок 4<br />
                1303 София
            </p>

            <h5><strong>Последвайте ни във фейсбук:</strong></h5>
            <p>
                <a href="https://www.facebook.com/dom.zonab5/" target="_blank" class="btn btn-primary">
                    <i class="fab fa-facebook"></i>  Дом за стари хора "Зона Б-5"
                </a>
            </p>

            <h5><strong>Телефони за контакт:</strong></h5>
            <ul class="list-unstyled">
                <li><strong>Социални работници:</strong> 0877 792 649</li>
                <li><strong>Медицински сестри:</strong> 02 / 823 94 91</li>
            </ul>
        </div>

        <div class="col-md-8">
            <div class="embed-responsive embed-responsive-4by3 shadow rounded">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d733.0838259648128!2d23.30617584437263!3d42.69662050097409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa854732a735f1%3A0x6be3fa22155bd881!2sZona%20B-5%2C%20ul.%20%22Parteniy%20Nishavski%22%2C%201303%20Sofia!5e0!3m2!1sen!2sbg!4v1746446001052!5m2!1sen!2sbg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>