@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Нова парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Паролата Ви беше актуализирана успешно! <a asp-page="./Login">Моля кликнете тук за вход в системата</a>.
</p>