@model RegulatoryDocumentViewModel

<h3>Качване на нормативен документ</h3>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="File" class="form-label"></label>
        <input asp-for="File" class="form-control" type="file" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-darkBlue">Запази</button>
</form>